{% extends 'base.html' %}
{% load static %}
{%block Title%}Crear Pedido{%endblock%}

{% block content %}
<style>
  footer{
      position: absolute;
  }
</style>
<section class="gradient-custom">
  <div class="container ">
      <div class="row d-flex justify-content-center align-items-center">
          <div class="col-12 col-md-8 col-lg-6 col-xl-5 login">
              <div class="card bg-dark text-white pedido">
                  <h1 class="my-3">Crear Nuevo Pedido</h1>
                    </div>
                    <div>
                      <button class="btn btn-danger my-2" type="submit">Crear pedido</button>
                    </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</section>
{% endblock %}

